@import "tailwindcss";
@import "tailwindcss-animated";

::selection {
    background-color: white;
    color: black;
}

.prose ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}

@layer utilities {
  .hover-pulse {
    @apply hover:animate-pulse hover:animate-duration-1200;
  }
}