<footer
    class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-3 py-4 border-t border-neutral-200"
>
    <a id="quote-link" class="flex italic group gap-2 relative items-center whitespace-nowrap" href="https://www.goodreads.com/book/show/15839976-red-rising" target="_blank">
        <p class="text-m" id="quote-text"></p>
        <p class="sm:opacity-0 sm:group-hover:opacity-100 transition-opacity duration-300 ease-in-out text-sm text-neutral-300" id="quote-meaning"></p>
    </a>
    <ul class="font-sm flex gap-2 sm:gap-4 flex-row-reverse sm:flex-row">
        <li>
            <a
                class="flex items-center opacity-0 hover:opacity-100 transition-opacity"
                rel="noopener noreferrer"
                target="_blank"
                href="https://anilist.co/user/aKnawKneeMus"
                >Anilist</a
            >
        </li>
        <li>
            <a
                class="flex items-center hover-pulse"
                rel="noopener noreferrer"
                target="_blank"
                href="mailto:muhammad@colonist.io"
                >Email</a
            >
        </li>
        <li>
            <a
                class="flex items-center hover-pulse"
                rel="noopener noreferrer"
                target="_blank"
                href="https://flowcv.com/resume/m2j684k1eh"
                >CV</a
            >
        </li>
        <li>
            <a
                class="flex items-center hover-pulse"
                rel="noopener noreferrer"
                target="_blank"
                href="https://github.com/a-knaw-knee-mus"
                >GitHub</a
            >
        </li>
        <li>
            <a
                class="flex items-center hover-pulse"
                rel="noopener noreferrer"
                target="_blank"
                href="https://www.linkedin.com/in/muhammad-mehdi-ali"
                >LinkedIn</a
            >
        </li>
        <li>
            <a
                class="flex items-center hover-pulse"
                rel="noopener noreferrer"
                target="_blank"
                href="https://www.chess.com/member/poggywoggy"
                ><span>Chess</span></a
            >
        </li>
    </ul>
</footer>

<script>
    // This script runs in the browser
    const quotes = [
        {
            quote: "Pulvis et umbra sumus",
            meaning: "We are but dust and shadow",
        },
        {
            quote: "Omnis vir lupus",
            meaning: "Every man is a wolf",
        },
        {
            quote: "Per aspera ad astra",
            meaning: "Through hardship to the stars",
        },
        {
            quote: "Hic sunt leones",
            meaning: "Here are lions",
        },
        {
            quote: "Res, non verba",
            meaning: "Actions, not words",
        },
        {
            quote: "Audentes fortuna juvat",
            meaning: "Fortune favors the bold",
        },
        {
            quote: "Lux ex tenebris",
            meaning: "Light from darkness",
        },
        {
            quote: "Alea iaca est",
            meaning: "The die is cast",
        },
        {
            quote: "Qualis rex, talis grex",
            meaning: "As the king, so the people",
        },
        {
            quote: "Alis aquilae",
            meaning: "On eagle's wings",
        },
        {
            quote: "Invictus",
            meaning: "Unconquerable",
        },
        {
            quote: "Virtute et Armis",
            meaning: "By valor and arms",
        },
        {
            quote: "Ante Mortem Gloria",
            meaning: "Glory before death",
        },
        {
            quote: "Vae victis",
            meaning: "Woe to the vanquished",
        },
    ];

    const now = new Date();
    const startOfYear = new Date(now.getFullYear(), 0, 1);
    const diff = now.getTime() - startOfYear.getTime();
    const oneDay = 1000 * 60 * 60 * 24;
    const dayOfYear = Math.floor(diff / oneDay);

    const quoteIndex = dayOfYear % quotes.length;
    const quoteOfTheDay = quotes[quoteIndex];

    const quoteTextElement = document.getElementById('quote-text');
    const quoteMeaningElement = document.getElementById('quote-meaning');

    if (quoteTextElement && quoteMeaningElement) {
        quoteTextElement.textContent = quoteOfTheDay.quote;
        quoteMeaningElement.textContent = `"${quoteOfTheDay.meaning}"`;
    }
</script>