<div class="flex flex-col gap-4">
    <h1 class="text-4xl font-bold">Hey there! I'm Muhammad.</h1>
    <h2 class="text-2xl">I'm currently working at <span class="underline decoration-blue-600 hover-pulse"><a href="https://www.colonist.io" target="_blank">Colonist.io</a></span> as a software engineer.</h2> 
    <h2 class="text-2xl">I started with Python—building a Discord bot, games, and algorithms—before diving into JavaScript, React/Next.js, and Flutter for web and mobile development. I also explored C++, creating interactive algorithm visualizations that deepened my understanding of data structures and algorithms.</h2>
</div>