---
import Circle from "./Circle.astro";
---

<div class="flex flex-row justify-between mb-34">
    <div class="flex flex-row gap-2">
        <Circle />
        <h1 class="font-semibold text-xl">Muhammad</h1>
    </div>
    <div class="flex flex-row gap-4 text-lg">
        <a href="https://flowcv.com/resume/m2j684k1eh" target="_blank" class="hover-pulse">CV</a>
        <a href="https://www.linkedin.com/in/muhammad-mehdi-ali" target="_blank" class="hover-pulse">LinkedIn</a>
        <div class="relative group h-fit"> <a href="https://github.com/a-knaw-knee-mus" target="_blank" class="hover-pulse">GitHub</a>
            <div class="absolute bottom-[-10px] top-12 right-0 translate-y-full opacity-0 sm:group-hover:opacity-100 sm:group-hover:animate-fade-down sm:group-hover:animate-duration-[200ms] transition-opacity z-10"> 
                <a href="https://github.com/a-knaw-knee-mus" target="_blank" rel="noopener noreferrer">
                    <div class="w-[600px]">
                        <img src="http://ghchart.rshah.org/a-knaw-knee-mus" alt="a-knaw-knee-mus's Github chart" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>