---
import { Font } from "astro:assets";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<Font cssVariable='--font-yantramanav' preload />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>Muhammad Mehdi Ali</title>
	</head>
	<body class="min-h-screen max-w-3xl p-0 md:px-4 mx-4 mt-8 md:mx-auto overflow-x-clip bg-[#161616] text-white">
		<slot />
	</body>
</html>

<style>
body {
    font-family: var(--font-yantramanav);
}
</style>
